

#container {
    width: 85%;
    background-color: #ccc;
}

aside {
    width: 15%;
    float: left;
    min-height: 500px;
    height: 100%;
    text-align:left;
    background-color: #fff;
}


section {
    float: right;
    min-height: 500px;
    width: 85%;
}

header {
    background-color: #286af0;
    min-height: 70px;
}


footer {
    clear: both;
    background-color: #286af0;
    position: relative;
    min-height: 40px;
    text-align: center;
    color:white;
    text-decoration:underline;
}

button{


}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


td {
    text
}